{% extends "base.html.twig" %} {% block title %}Error{% endblock %} {% block
body %}

<div class="mt-5 text-danger">
  <h1>Fatal Error!</h1>
  <p>Sorry, an error has occurred.</p>
</div>

{% endblock %}
